$color-black: #232323;
$color-grey: #8a8a8a;
$color-black-rgba: rgba(0, 0, 0, 0.5);
$color-white: #fff;
$color-red: #d94545;
$color-orange: #d96f45;
$color-red-hover1: #f86d6d;
$color-orange-hover2: #f88e6d;
$color-red-focus: #ad3636;
$color-light-grey: #ddd;
