.footer {
	&-top {
		align-items: center;
		background-image: url('../../images/img/footer.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;
		padding: 2rem;
	}

	&__logo {
		width: 7.5rem;
	}

	&__link,
	.social-link {
		color: $color-black;
		font-size: 1.2rem;
		text-decoration: none;
		text-transform: uppercase;
	}

	&__bottom {
		padding: 2rem;
		text-align: center;
	}
}

.fa-brands {
	color: $color-black;
}
