* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	color: $color-black;
	font-family: 'Oswald', sans-serif;
	font-size: 1.4rem;
	line-height: 2.4rem;
	overflow: hidden;
}

img {
	display: block;
	width: 100%;
}

p {
	color: $color-light-grey;
}

ul {
	list-style: none;
}
